* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 30px;

   
}
h2 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.box1 {
    border: solid 3px black;
    padding: 10px 40px 40px;
    background-color: rgb(196, 192, 192);
}
.box2 {
    border: solid 3px grey;
    
    background-color: #fff;
}

.container {
    
    padding: 60px;
}
.col-md-11 {
    padding: 0px 200px 300px;
}
input {
    text-align: center;
    padding: 20px;    
    width: 810px;
  

}

.btn {
    padding: 20px 40px 20px 40px;
    border-radius: 40px;
    background-color: rgb(252, 64, 64);
    font-size: 20px;
    font-weight: bolder;
    margin-left: 15%;
}

.btn-warning {
    color: white;
}

.btn:hover {
    opacity: 0.6;
}

.btn-erase {
    margin-top: 10px;
} 

.block {
    display: inline-block;

}

/* I was having issues trying to make the input with id "newPassword" responsive */

@media screen and (max-width: 500px) {
    .newPassword {
        width: 50%;
  }
}

@media screen and (min-width: 500px) {
    .block {
        margin-left: -40px;
  }
}

@media screen and (min-width: 980px) {
    .block {
        margin-left: 100px;
  }
}

@media screen and (min-width: 1210px) {
    .block {
        margin-left: 200px;
  }
}




